In [1]:
import pandas as pd

In [2]:
jan2010 = pd.read_csv('data/january_2010.csv')
jan2011 = pd.read_csv('data/january_2011.csv')

In [3]:
jan2010.head()

,Unnamed: 0,Unnamed: 1,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,Year 2009-2010,45228,493410,TEST001,This is a test product.,5,2010-01-04 09:24:00,4.50,12346.0,United Kingdom
1,Year 2009-2010,45229,C493411,21539,RETRO SPOTS BUTTER DISH,-1,2010-01-04 09:43:00,4.25,14590.0,United Kingdom
2,Year 2009-2010,45230,493412,TEST001,This is a test product.,5,2010-01-04 09:53:00,4.50,12346.0,United Kingdom
3,Year 2009-2010,45231,493413,21724,PANDA AND BUNNIES STICKER SHEET,1,2010-01-04 09:54:00,0.85,NaN,United Kingdom
4,Year 2009-2010,45232,493413,84578,ELEPHANT TOY WITH BLUE T-SHIRT,1,2010-01-04 09:54:00,3.75,NaN,United Kingdom

In [4]:
jan2010.describe()

         Unnamed: 1      Quantity         Price   Customer ID
count  31555.000000  31555.000000  31555.000000  22439.000000
mean   61005.000000     11.895516      5.250241  15252.896653
std     9109.288209    115.303842     81.262844   1681.676156
min    45228.000000  -3669.000000      0.000000  12346.000000
25%    53116.500000      1.000000      1.250000  13855.000000
50%    61005.000000      3.000000      2.510000  15005.000000
75%    68893.500000      9.000000      4.250000  16746.000000
max    76782.000000   9312.000000   8985.600000  18268.000000

In [5]:
jan2011.describe()

         Unnamed: 1      Quantity         Price   Customer ID
count  35147.000000  35147.000000  35147.000000  21912.000000
mean   60054.000000      8.790679      4.915151  15147.853733
std    10146.209292    562.283588    127.124419   1784.494632
min    42481.000000 -74215.000000      0.000000  12346.000000
25%    51267.500000      1.000000      1.250000  13634.000000
50%    60054.000000      3.000000      2.100000  15023.000000
75%    68840.500000      9.000000      4.130000  16782.000000
max    77627.000000  74215.000000  16888.020000  18283.000000

In [6]:
jan2010['Customer ID'].count() - jan2011['Customer ID'].count()

527

In [7]:
jan2010 = jan2010.drop(['Unnamed: 1'], axis=1)

In [8]:
j10 = jan2010.groupby(['Customer ID']).agg({'Quantity':['sum', 'min', 'max', 'count'], 'Price':['sum', 'min', 'max']})
j10.head()

            Quantity                 Price
                 sum min max count     sum    min     max
Customer ID
12346.0           19  -1   5     5  121.50   4.50  103.50
12361.0           45   1  10     7   28.50   1.65   15.00
12382.0           -1  -1  -1     1   18.38  18.38   18.38
12404.0            1   1   1     1   63.24  63.24   63.24
12406.0          452   6  72    25   62.45   0.55    8.95

In [9]:
jan2011 = jan2011.drop(['Unnamed: 1'], axis=1)
j11 = jan2011.groupby('Customer ID').sum( )
j11.head()

             Quantity   Price
Customer ID
12346.0             0    2.08
12347.0           315   73.17
12348.0           601   42.01
12356.0          1216  114.18
12359.0           144  292.01

In [10]:
j10.index.names = ['ID']
#j10 = j10.rename(columns={'Customer ID' : 'ID'}, axis=1, inplace=True)
#j11 = j11.rename(columns={'Customer ID' : 'ID'}, axis=1, inplace=True)
j11.index.names = ['ID']

In [11]:
j10 = j10.assign(Inj11=j10.index.isin(j11.index).astype(int))

Number of customers who churn

In [12]:
j10.Inj11.count()-j10.Inj11.sum()

517

In [24]:
j10

        Quantity                 Price                Inj11
             sum min max count     sum    min     max
ID
12346.0       19  -1   5     5  121.50   4.50  103.50     1
12361.0       45   1  10     7   28.50   1.65   15.00     0
12382.0       -1  -1  -1     1   18.38  18.38   18.38     0
12404.0        1   1   1     1   63.24  63.24   63.24     0
12406.0      452   6  72    25   62.45   0.55    8.95     0
...          ...  ..  ..   ...     ...    ...     ...   ...
18231.0       95   1   6    25   77.95   0.55    8.50     0
18242.0      194   3  24    18   43.18   0.65    5.95     0
18252.0      336   8  96     9   13.95   0.38    2.10     0
18259.0       70   4  12    10   42.90   3.75    4.95     0
18268.0      289  -4  24    28   67.81   0.42   12.75     0

[786 rows x 8 columns]

In [13]:
X = j10[['Quantity', 'Price']]
y = j10[['Inj11']]

In [15]:
from sklearn.preprocessing import normalize
X = normalize(X, norm='l2', axis=1, copy=True, return_norm=False)

In [16]:
X

array([[ 0.11804487, -0.00621289,  0.03106444, ...,  0.75486591,
         0.027958  ,  0.64303392],
       [ 0.79364061,  0.01763646,  0.17636458, ...,  0.50263905,
         0.02910016,  0.26454687],
       [-0.03135007, -0.03135007, -0.03135007, ...,  0.57621428,
         0.57621428,  0.57621428],
       ...,
       [ 0.96017184,  0.02286123,  0.27433481, ...,  0.03986428,
         0.00108591,  0.00600107],
       [ 0.83434051,  0.0476766 ,  0.1430298 , ...,  0.51133154,
         0.04469681,  0.05899979],
       [ 0.96516925, -0.01335874,  0.08015246, ...,  0.22646411,
         0.00140267,  0.042581  ]])

In [17]:
y

        Inj11

ID
12346.0     1
12361.0     0
12382.0     0
12404.0     0
12406.0     0
...       ...
18231.0     0
18242.0     0
18252.0     0
18259.0     0
18268.0     0

[786 rows x 1 columns]

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [19]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

C:\Users\Margni\anaconda3\envs\dc\lib\site-packages\sklearn\neighbors\_classification.py:207: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [20]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, knn.predict(X_test))

0.6598984771573604

In [21]:
from sklearn import tree
tree_clf = tree.DecisionTreeClassifier()
tree_clf = tree_clf.fit(X_train, y_train)
accuracy_score(y_test, tree_clf.predict(X_test))

0.6243654822335025

In [22]:
from sklearn import svm
svm_clf = svm.SVC()
svm_clf.fit(X_train, y_train)
accuracy_score(y_test, svm_clf.predict(X_test))

C:\Users\Margni\anaconda3\envs\dc\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6649746192893401

In [23]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(15,), random_state=1)
...
clf.fit(X_train, y_train)
MLPClassifier(alpha=1e-05, hidden_layer_sizes=(15,), random_state=1,
              solver='lbfgs')
accuracy_score(y_test, clf.predict(X_test))

C:\Users\Margni\anaconda3\envs\dc\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1118: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Margni\anaconda3\envs\dc\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:559: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

0.6649746192893401